@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --bg-main: #ffffff;
  --bg-accent: #1070ff;
  --bg-primary: #c5c5c5;
  --bg-secondary: #f2f3f4;

  --text-color: #2e2e2e;
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-main);
  color: var(--text-color);
}
